<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>dou-er-chui-kou-shao.md</string>
		</array>
		<array>
			<string>zui-chang-yong-de-100-ge-classname-ji-he.md</string>
		</array>
	</array>
</dict>
</plist>
