<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>da-jian-ge-ren-de-wu-feng-suo-sou-suo.md</string>
		</array>
		<array>
			<string>gu-ge-chromedevtools-qian-xi-–-cheng-wei-geng-gao-xiao-de-developer.md</string>
		</array>
		<array>
			<string>mysql-jian-biao-she-zhi-liang-ge-mo-ren-current_timestamp-de-ji-qiao.md</string>
		</array>
	</array>
</dict>
</plist>
