<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>shi-wu-dao-le.md</string>
		</array>
		<array>
			<string>wall-e-tu-biao-ip-bao.md</string>
		</array>
		<array>
			<string>wei-lai-de-liu-lan-qi--cao-zuo-xi-tong.md</string>
		</array>
		<array>
			<string>you-zhi-de-zhu-ti.md</string>
		</array>
	</array>
</dict>
</plist>
