<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>lei-bao-fu-fa-ze--zai-ni-zhuo-shou-jian-li-he-zuo-he-xin-ren-shi-yao-lao-ji-wo-men-yu-yan-zhong.md</string>
		</array>
	</array>
</dict>
</plist>
