<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>fen-xiang-10-ge-hen-bang-de-jquery-dai-ma-pian-duan.md</string>
		</array>
		<array>
			<string>zi-ti-ye-xu-yao-she-ji.md</string>
		</array>
	</array>
</dict>
</plist>
