<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>css-shi-xian-qiang-zhi-bu-huan-xing--zi-dong-huan-xing--qiang-zhi-huan-xing.md</string>
		</array>
		<array>
			<string>jquery-de-tian-qi-yu-bao-cha-jian.md</string>
		</array>
	</array>
</dict>
</plist>
