<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>vmware-an-zhuang-linuxoralce-bi-ji.md</string>
		</array>
		<array>
			<string>xin-zhu-ti-forme-kai-shi-shi-yong.md</string>
		</array>
	</array>
</dict>
</plist>
