<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>eclipse-xiu-gai-xing-kuan.md</string>
		</array>
		<array>
			<string>googlesvn-xiang-mu-shan-chu.md</string>
		</array>
		<array>
			<string>ru-he-xie-zai-ie9beta.md</string>
		</array>
		<array>
			<string>win7-xia-mian-android-shi-yong-eclipse-kai-fa-huan-jing-bu-shu.md</string>
		</array>
	</array>
</dict>
</plist>
