<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>da-kai-csv-bi-mian-cheng-wei-ke-xue-ji-shu-fa.md</string>
		</array>
		<array>
			<string>zhuan--bu-neng-ji-zhong-zhu-yi-li-zen-me-ban.md</string>
		</array>
	</array>
</dict>
</plist>
